{% extends 'core/base.html' %}
{% load static %}
{% block title %}Intervenciones{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
        <center>
        {% if user.is_superuser %}
            {% for obj in object_list %}
                <p><b>{{ obj.id }}</b></p>
                <b>Nombre: </b>{{ obj.Cliente }}<b> | </b>
                <b>Fecha: </b>{{ obj.Fecha }}<b> | </b>
                <b>Motivo: </b>{{ obj.Motivo }}
                <p><b>Descripcción: </b>{{ obj.Descripcion }}</p>
                {% if obj.Estado == False %}
                    <p><b>Estado Intervención: </b><em><font color = red>PENDIENTE</font></em></p>
                {% else %}
                    <p><b>Estado Intervención: </b><em>SOLUCIONADO</em></p>
                {% endif %}
                <br>
            {% endfor %}
        {% else %}
            {% for obj in object_list %}
            <!--'models.py' : class Reparaciones - Email ; Autenticación y Autorización /
                 Usuarios - Dirección de correo electrónico -->
                {% if obj.Email  == request.user.email and obj.Estado == False %}
                    <p><b>Número de Reparación: {{ obj.id }}</b></p>
                    <b>Nombre: </b>{{ obj.Cliente }}<b> | </b>
                    <b>Fecha: </b>{{ obj.Fecha }}<b> | </b>
                    <p><b>Descripción: </b>{{ obj.Descripcion }}</p>
                    <p><b>Estado Intervención: </b><em><font color = red>PENDIENTE</font></em></p>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        </center>
  </div>
</main>
{% endblock %}

