{% extends 'core/base.html' %}

{% load static %}

{% block title %}Escríbenos{% endblock %}

{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h4>Nos gustaría que nos contaras tus necesidades profesionales a nivel de software y hardware.
        Para ello te proponemos que compartas unos minutos de tu tiempo y de manera breve hables con nosotros.</h4>
        <!--rellenando el siguiente cuestionario
        podremos conocer qué podemos ofrecerte como empresa de servicios de telecomunicaciones.

        <ol>
            <li>¿Dónde empezaste a usar una computadora?.</li>
                <ol>A.- En la escuela.</ol>
                <ol>B.- En el trabajo.</ol>
                <ol>C.- Por cuenta propia.</ol>
            <li>¿Cuánto dinero tienes pensado en invertir en tecnología</li>
                <ol>A.- Menos de 1000 €.</ol>
                <ol>B.- Entre 1000 y 3000 €.</ol>
                <ol>C.- Más de 3000 €.</ol>
            <li>Cuéntanos brevemente qué proyecto profesional te gustaría incluir nuevas tecnologías.</li>
        </ol> -->
    <h3>info@agtsatpc.com</h3>
    <br></br>
    <img src="{% static 'core/img/SetupBajo.jpg' %}" alt = "F5" width="400" height="300">
  </div>
</div>
{% endblock %}