{% extends 'core/base.html' %}

{% load static %}

{% block title %}Conócenos{% endblock %}

{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h4>Más de 20 años de experiencia en el mundo de la informática nos avalan para ofrecerte el mejor servicio
        de reparación in situ y de forma remota del mercado, adaptándonos a las nuevas tecnologías y a las necesidades
        de nuestros clientes, teniendo un servicio postventa de los más sobresalientes. </h4>
  </div>
  <br><br>
</div>
<center>
    <img src="{% static 'core/img/nucleo.jpg' %}" alt = "F5" width="400" height="300">
</center>
{% endblock %}